.CitiesListUl {
  background-color: rgba(0, 255, 255, 0);
  list-style: none;
  margin-left: -39px;
}
.CitiesListLi {
  background-color: #495056;
  height: 50px;
  color: white;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 5px solid #00c46a;

  display: grid;
  grid-template-columns: 45px 1fr 150px 50px;

  padding-left: 20px;
  cursor: pointer;
}
.currCityClass {
  border-top: 2px solid #00c46a;
  border-bottom: 2px solid #00c46a;
  border-right: 2px solid #00c46a;

  background-color: #495056;
  height: 50px;
  color: white;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 5px solid #00c46a;

  display: grid;
  grid-template-columns: 45px 1fr 150px 50px;

  padding-left: 20px;
  cursor: pointer;
}
.divCountryEmoji {
  background-color: rgba(106, 155, 22, 0);
  display: flex;
  align-items: center;
}
.countryEmoji {
  /* font-size: 25px;
  margin-top: 5px; */
  font-size: 15px;
}
.cityName {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 500;
  text-wrap: nowrap;
  background-color: rgba(74, 104, 130, 0);
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 70%;
}
.visitDate {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 100;
}
.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242a2e;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.closeButton:hover {
  background-color: #ffb545;
  color: #242a2e;
}
.closeButton:active {
  background-color: #242a2e;
  color: white;
}

.imgSpinner {
  width: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10%;
}
