.countryList {
  position: absolute;

  width: 100%;

  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;
  background-color: rgba(245, 245, 220, 0);
  margin-left: -40px;
}

.countryItem {
  height: 100px;
  background-color: #42484d;
  border-radius: 7px;
  border-left: 5px solid #ffb545;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.countryItem span {
  margin: 0px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.countryItem h3 {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.imgSpinner {
  width: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10%;
}
